body {
  font: 1.0em Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  background-color: #000000;
}

#header {
  box-sizing: border-box;
  color: #FFFFFF;
  height: auto;
  font-size: 2em;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid rgba(221, 221, 221, 0.15);
  padding: 0px 0px 3px;
}

.message {
  bottom: 0px;
  box-sizing: border-box;
  height: auto;
  left: 0px;
  min-height: 14px;
  position: relative;
  right: 0px;
  width: 100%;
  border-radius: 4px 4px 4px 4px;
  margin: 14px 0px;
  padding: 14px 21px;
  display: none;
}

#info {
  color: rgb(222, 122, 47);
  box-shadow: rgba(220, 220, 220, 0.22) 0px 0px 0px 1px inset, rgba(255, 255, 255, 0) 0px 0px 0px 0px;
  background: #000000 none repeat scroll 0% 0% / auto padding-box border-box;
  border: 1px none rgb(222, 122, 47);
}

#error {
  color: #8b0000;
  box-shadow: rgba(220, 220, 220, 0.22) 0px 0px 0px 1px inset, rgba(255, 255, 255, 0) 0px 0px 0px 0px;
  background: #000000 none repeat scroll 0% 0% / auto padding-box border-box;
  border: 1px none rgb(43, 222, 222);
}

#userlabel,
#netlabel,
#passlabel {
  box-sizing: border-box;
  color: #FFFFFF;
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
}

#networks {
  bottom: 0px;
  box-shadow: rgba(255, 255, 255, 0) 0px 0px 0px 0px inset;
  background-color: #000000;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  height: 4em;
  left: 0px;
  min-height: 15px;
  position: relative;
  right: 0px;
  text-align: left;
  top: 0px;
  width: 100%;
  border: 1px solid #8b0000;
  border-radius: 5px 5px 5px 5px;
  font-size: 1.0em;
}

#peapuserwrap,
#passwrap {
  margin-bottom: 0.7em;
  display: none;
}

#puser,
#password {
  box-shadow: rgba(255, 255, 255, 0) 0px 0px 0px 0px inset;
  cursor: auto;
  vertical-align: top;
  width: 100%;
  border: 1px solid rgba(220, 220, 220, 0.15);
  border-radius: 4px 4px 4px 4px;
  padding: 8px 8px;
  font-size: 1em;
  margin-top: 10px;
  height: 4em;
}

.btn {
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  width: 100%;
  cursor: pointer;
  font: normal normal 700 normal 14px / 14px Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  border-radius: 4px 4px 4px 4px;
  height: 4em;
}

#rescan, #check {
  box-shadow: rgba(255, 255, 255, 0) 0px 0px 0px 1px inset, rgba(220, 220, 220, 0.15) 0px 0px 0px 0px inset;
  color: #FFFFFF;
  background: rgb(22, 22, 22) none repeat scroll 0% 0% / auto padding-box border-box;
  border: 0px none rgba(255, 255, 255, 0.6);
  margin-top: 0.8em;
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#save {
  box-shadow: rgba(220, 220, 220, 0.15) 0px 0px 0px 0px inset;
  color: #FFFFFF;
  height: 5em;
  background: #000000 none repeat scroll 0% 0% / auto padding-box border-box;
  border: 1px solid #8b0000;
  margin-top: 0.8em;
}

pre {

  padding: 5px;
  margin: 5px;
  color: #8b0000;
}

.string {
  color: green;
}

.number {
  color: darkorange;
}

.boolean {
  color: blue;
}

.null {
  color: magenta;
}

.key {
  color: red;
}
